<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button onclick="pay()">支付</button>
</body>

</html>


<script>
    function pay() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://www.igrowth365.com.cn/wxPayCB/h5Pay", true);
        // 添加http头，发送信息至服务器时内容编码类型
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 304)) {
                // fn.call(this, xhr.responseText);
                resm = JSON.parse(xhr.responseText)
                WeixinJSBridge.invoke("getBrandWCPayRequest", resm, function (
                    res
                ) {
                    console.log(res);
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        // success
                        console.log("success");
                    }
                });
            }
        };
        //发送数据
        xhr.send({});
    }
</script>